/*reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/*Generic*/
html {
    background-color: white;
    font-family: Livvic, sans-serif;
    width: 100%;
}

body {
    width: 100%;
}

.container {
    max-width: 100%;
    width: 100%;
}

.text {
    margin: 5px 10px;
    display: flex;
    justify-content: center;
}

.day {
    margin: 5% auto 0 auto;
    text-align: center;
}

.exercise {
    margin: 2%;
    padding: 3%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
    text-align: center;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serie {
    margin: 2%;
    padding: 3%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ripetizione {
    margin: 2% auto;
    padding: 3%;
    text-align: center;
    width: 70%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
}

.containerImg {
    display: flex;
    justify-content: center;  
    margin-top: 10%;
}

.exerciseImg {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;   
}

.exerciseImg img {
    min-width: 80%;
    min-height: 80%;
    max-width: 95%;
    max-height: 95%;
}

.nextExercise {
    margin: 2%;
    width: 300px;
    height: 300px; 
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
}

.nextText {
    text-align: center;
    font-size: 3rem;
}

.exerciseImg2 {
    margin: 2%;
    width: 250px;
    height: 250px;
    text-align: right;
}

.exerciseImg2 img {
    min-width: 80%;
    min-height: 80%;
    max-width: 95%;
    max-height: 95%;
    margin: 0 10% 0 10%;
}

.clock {
    margin: 5% auto 0 auto;
    padding: auto;
    width: 35%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
}

.buttons {
    text-align: center;
    display: flex;
    justify-content: center;
}

.dayButton {
    padding: 3%;
    width: 70%;
}

.timerButton {
    padding: 3%;
    margin-top: 2%;
    width: 50%;
}

.exerciseButton {
    padding: 3%;
    margin:2% 1% 0% 1%;
    width: 45%; 
}

.serieButton {
    padding: 3%;
    margin:2% 1% 0% 1%;
    width: 45%; 
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 7rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 7rem ;
}

.finished {
    background-color: #000000b7;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
}


.hidden {
    visibility: hidden;
}